// sidebar

$bgColor: #DDFAEF;
$sBgColor: #C4F2E1;
$mColor: #009D63;

$radiusPx: 15px;
$menuText:#AAAEBA;
$menuActiveText: $mColor;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#FFFFFF;
$menuHover:#FFFFFF;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 190px;
$siderBarWidthT: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}


$--color-primary: $mColor;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";